<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="/admin/lib/css/bootstrap.css">
    <script src="/admin/lib/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="home.min.css">
</head>

<body>
    <main>
        <div class="topbar"></div>
        <div class="box"></div>
    </main>
</body>

</html>
<script src="home.js" type="module"></script>